.img-nav{
    margin: 2%;
    height: 70%;
    width: 20%;
}
.container-flex{
    background-color: white;
    position: fixed;    
    display: flex;
    align-items:center;
    justify-content: center;
    width: 101%;
    padding-right: 0px;
}
.colum-nav{
    display: flex;
    flex-direction: row-reverse;
    margin: 2%;    
}
.btn-font{
    font-size: 1.5vw;
    border: none;
}
.img-taxy{
    height: 700px;
    width: 100%; 
    background-image: url(../img/taxi2.jpg);
    background-size:cover;
    background-repeat: no-repeat;  
    display: flex;
    flex-direction: row-reverse;  
    align-items: center;
}
.form-taxi{    
    background-color: #f7b617;
    font-size: 1vw;
    height: 60%;
    width: 30%;    
    margin-right: 2%;
    position: initial;
}
.container-section{
    height: 500px;
    width: 100%;
    background-color: #f7b617;    
    display: flex;
    flex-direction: row;
    align-content: center;
    padding: 1%;
    padding-top: 2%;
    }
.container-p-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 3%;
    font-size: 1.4vw;
    width: 73%;
    height: 98%;
    margin-left: -1%;
    border: 1px solid white;
    border-left: none;
    padding-left: 3%;
}

