.img-nav{
    margin: 2%;
    height: 70%;
    width: 20%;
}
.line{
    width: 30%;    
}
.p-hr{
    text-align: center;
}
.container-flex{
    background-color: white;
    position: fixed;    
    display: flex;
    align-items:center;
    justify-content: center;
    width: 101%;
    padding-right: 0px;
    z-index: 8000;
}
.colum-nav{
    display: flex;
    flex-direction: row-reverse;
    margin: 2%;    
}
.btn-font{
    font-size: 1.5vw;
    border: none;
}
.img-taxy{
    height: 700px;
    width: 100%; 
    background-image: url(../img/taxi2.jpg);
    background-size:cover;
    background-repeat: no-repeat;  
    display: flex;
    flex-direction: row-reverse;  
    align-items: center;
    }
.form-taxi{    
    background-color: #f7b617;
    font-size: 1vw;
    height: 60%;
    width: 30%;    
    margin-right: 2%;
    position: initial;
    color: white;
    padding-top: 4%;
    text-align: ;     
}
.fixed-hr{
    position: relative;
    bottom: 9%;
    background-color: #f7b617;
    width: 15%;
    font-size: 1.3vw;
    left: 40%;
}
.container-section{
    height: 500px;
    width: 100%;
    background-color: #f7b617;    
    display: flex;
    flex-direction: row;
    align-content: center;
    padding: 1%;
    padding-top: 2%;
    }
.img-cel{
        width: 70%;
    }
.container-p-img{    
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 3%;
    font-size: 1.4vw;
    width: 73%;
    height: 98%;
    margin-left: -1%;
    border: 1px solid white;
    border-left: none;
    padding-left: 3%;
}
.container-d{
    height: 558px;
    width: 100%; 
    background-image: url(../img/conduce2.jpg);
    background-size:cover;
    background-repeat: no-repeat;  
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    align-items: center;

}
.not-move{
        position: initial;
}
.form-conduc{
    height: 100%;
    width: 30%;     
    background-color: gray;      
}
.form-conduc-sec{
    padding-top: 50%;
    color: white;
    font-size: 1.7vw;
    position: initial;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: transparent;        
}
.opacity{
    opacity: .5;
}
.button-conduc{
    color: white;
    background-color: #f7b617;
    width: 95%;
    align-self: center;  
    font-size: 1.7vw;  
}
.container-map{
    height: 600px;
    width: 100%; 
    background-color: #f7b617;
    display: flex;
    flex-direction: row;
    align-items: center;    
    justify-content: space-between;
}
.form-destiny{
    margin-left: 3%;           
    
}
.form-item{
    display: flex;
    flex-direction: row;
}
.fer-footer{
    width: 100%;
    height: 500px;
    background-color: #2b2b2b;
}
.p-footer{
    color: white;
    font-size: 1vw;
}
.m-footer{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-start;
    height: 100%;
}
.flex-footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}